*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
.book{
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 14px;
    font-size: 40px;
}

.club{
background-color: rgb(255, 0, 255);
color: white;
padding-top: 12px;
padding-bottom: 12px;
font-size: 18px;
}
.welcome{
    background-color: rgb(183, 0, 255);
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    padding-top: 20px;
    font-weight: bold;

}
